.mainC {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 0.5rem;
    font-size: 1.2rem;
    justify-items:start;
    color: rgb(50, 104, 50);
}
.mainC button {
    background-color: rgb(37, 120, 187);
    width: 5rem;
    height: 1.5rem;
    color: antiquewhite;
    border: none;
    border-radius: 3px;
}