@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600&display=swap');

.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  background-color: #a2d1ff;
  background-image: url(./img/fondo.jpg);
  background-size: cover;
  height: 100vh;
}
