.homeContainer {
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.filterSim {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}